<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bui Nguyen Cong</title>
</head>
<body>


<img src = "http://kenh14cdn.com/2017/6-1489676346457.jpg">

<h1> Bùi Nguyên Công </h1>

<p> - Birthday 26/08/1989 </p>
<p> - Email: buinguyencong@gmail.com </p>
<p> - Mobile: 0916519967 </p>
<p> - Marital status: Single </p>

<h1> Education </h1>

<p> Techkids </p>

<h1> Why did you come to Techkids? </h1>

<p> for fun </p>


<a href = "http://www.imdb.com/title/tt3731562/"> Click me! </a>
<a href = "http://www.imdb.com/title/tt0360717/"> Click me part 2 </a>


</body>
</html>